@model IList<Orion.Mvc.UI.IBreadcrumb>
@{ 
	var last = Model.Last(); 
}
<ol id="Breadcrumb" class="breadcrumb" style="margin:0;">
	@foreach (var item in Model)
	{
		if(item == last){
			<li class="active">
				@if(!string.IsNullOrWhiteSpace(item.Icon)){ <i class="fa @item.Icon"></i> }
				@item.Name
			</li>
		}else{
			<li><a href="@Url.Content(item.Url)">
				@if(!string.IsNullOrWhiteSpace(item.Icon)){ <i class="fa @item.Icon"></i> }
				@item.Name
			</a></li>
		}
	}    
</ol>