@section Styles {
    <style type="text/css">
        body{
            background: #FFFFFF;
        }
        #ContainerWrapper {
            text-align: center;
        }
        #ContainerWrapper .error-code {
            color: @ViewBag.Color;
            font-size: 120px;
            font-weight: 700;
            line-height: 140px;
            margin-top: 60px;
            text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
        }
        #ContainerWrapper .error-text {
            color: rgba(0, 0, 0, 0.5);
            font-size: 20px;
            font-weight: 600;
            padding: 1px 20px;
        }
        #ContainerWrapper .error-text .oops {
            font-size: 50px;
        }
	    @@media (max-width: 500px) {
	        #MainLayout {
	           padding-top: 0;
	        }
            #NavbarWrapper,
            #Breadcrumb {
	           display: none;
            }
            #ContainerWrapper .error-code {
	            font-size: 90px;
	            line-height: 80px;
                margin-top: 0;
            }
	        #ContainerWrapper .error-text .oops {
	            font-size: 40px;
	        }
	        #ContainerWrapper .table {
		        margin-bottom: 10px;
		    }
	    }
    </style>
}


@section Scripts {
    <script type="text/javascript">
        Dialog.resize(400, 300);
    </script>
}




@if (Request.IsAjaxRequest())
{
    Layout = null;
    @ViewBag.Title
}
else
{
    <div class="error-code">@Response.StatusCode</div>

    <div class="error-text">
        <div class="table oops">@ViewBag.OOPS</div>
        <div class="table">@(TempData["StatusError"] ?? ViewBag.Message)</div>
        <div class="table">
            <a class="btn btn-default" href="JavaScript:history.back();">
                <i class="fa fa-reply fa-rotate-90"></i> 返回上一頁
            </a>
        </div>
    </div>
}
